body {
text-align: center;
font-family: helvetica, sans-serif;
}

.heading {
  text-align: center;
  display: block;
  height: 400px;
  width: 800px;
  position: relative;
}

.heading h1 {
  font-family: cursive;
  background-color: #ADD8E6;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  z-index: 20;
  position: absolute;
  margin-top: 275px;
  margin-left: 350px;
}

.heading img {
  width: 1000px;
  float: left;
}

.container {
  width: 1000px;
  background-color: #F5F5F5;
  height: 2000px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
}

.sidebar {
  width: 940px;
  float: left;
  background-color: #404040;
  margin: 10px;
  color: white;
  text-align: left;
  padding-left: 40px;
  border-radius: 15px;
}

.profile {
  width: 189px;
  height: 400px;
  float: left;
  margin: 10px;
  background-color: #ADD8E6;
  padding: 20px;
  border-radius: 15px;
}

.profile h2 {
  font-family: cursive;
  opacity: 10%;
}

.profile h3 {
  font-family: cursive;
  opacity: 10%;
}
.profile img {
  width: 170px;
  display: block;
  text-align: center;
  border-radius: 15px;
  margin-left: 10px;
}

ul {
  list-style-position: inside;
}

@media screen and (min-width: 700px) and (max-width: 1000px){
  .heading {
    height: 300px;
  }
  .heading img {
    width: 700px;
  }
  .heading h1 {
    margin-top: 150px;
    margin-left: 200px;
  }
  .profile{
    background-color: #ADD8E6;
    width: 640px;
    float: right;
    margin: 10px;
    height: auto;
    }
  .profile img{
    width: 550px;
    margin-left: 40px;
  }
  .container {
    width: 700px;
    height: 3100px;
  }
  .sidebar {
    width: 640px;
  }
}

@media screen and (min-width: 0px) and (max-width: 700px){
  .sidebar {
    float: left;
    width: 220px;
  }
  .heading img {
    width:220px;
    height: 100px;
    margin-left: 30px;
  }
  .heading h1 {
    width: 100px;
    margin-top: 150px;
    margin-left: 70px;


  }
  .container {
    width: 280px;
    height: 2800px;
  }
  .profile {
    width: 220px;
    height: auto;
    float: left;
  }

  h1 {
    width: 220px;
  }
}
