h1 {
  font-family: cursive;
  background-color: #ADD8E6;
  margin: 10px;
  padding: 20px;
}

  body {
  text-align: center;
  font-family: helvetica, sans-serif;
}

.container {
  width: 1000px;
  background-color: #F5F5F5;
  height: 2000px;
  padding: 20px;
  margin: 0 auto;
}

.sidebar {
  width: 950px;
  float: left;
  background-color: #404040;
  margin: 10px;
  color: white;
  text-align: left;
  padding-left: 40px
}

.profile {
  width: 200px;
  float: left;
  margin: 10px;
  background-color: #ADD8E6;
  padding: 20px;
}

.profile img {
  width: 170px;
  display: block;
  text-align: center;
}

ul {
  list-style-position: inside;
}

@media screen and (min-width: 700px) and (max-width: 1000px){
  .profile{
    background-color: #ADD8E6;
      width: 640px;
      float: right;
      margin: 10px;
    }
    .profile img{
      width: 550px;
      margin-left: 40px;


    }
  .container {
    width: 700px;
  }
  .sidebar {
    width: 640px;

  }
}
  @media screen and (min-width: 0px) and (max-width: 700px){
    .sidebar {
      float: left;
      width: 220px;
  }
    .container {
      width: 280px;
    }
    .profile {
      width: 220px;
      float: left;
    }

    h1 {
      width: 220px;
    }

}
